<div class="spinner-container" *ngIf="dataSource?.loading | async">
    <mat-spinner></mat-spinner>
</div>
<div class="filter-header">
    <mat-form-field>
      <input matInput (keyup)="filterOffers($event.target.value)" placeholder="Filter by name">
    </mat-form-field>
  </div>
<div class="mat-elevation-z8">

    <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="id">

            <mat-header-cell *matHeaderCellDef>#</mat-header-cell>

            <mat-cell *matCellDef="let offer">{{offer?.id}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="name">

            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>

            <mat-cell class="description-cell" *matCellDef="let offer">{{offer?.name}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="action">

            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>

            <mat-cell class="duration-cell" *matCellDef="let offer">
                <button mat-icon-button color="primary" matTooltip="Go to Offer" (click)="goToLink(offer.url)">
                    <mat-icon>link</mat-icon>
                </button>
                <button mat-icon-button color="primary" matTooltip="Conversions" (click)="showConversion(offer)">
                    <mat-icon>visibility</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>


    <mat-paginator [pageSizeOptions]="[5, 10, 20, 30]" (page)="pageChanged($event)" showFirstLastButtons>
    </mat-paginator>
</div>