<p *ngIf="token">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <mat-icon routerLink="/" *ngPermission="'ADMIN'">home</mat-icon>
            <span> Advidi console</span>
            <span class="example-spacer"></span>
            <button mat-icon-button matTooltip="Logout" (click)="logout()" class="example-icon"
                aria-label="Example icon-button with menu icon">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</p>
<router-outlet></router-outlet>