<h1 mat-dialog-title>{{offer.id + ' - ' + offer.name}}</h1>
<div mat-dialog-content>
    <div class="mat-elevation-z8">
        <div class="date-filter">
            <app-date [label]="'From'" (date)="dateFromChanged($event)"></app-date>
            <app-date [label]="'To'" (date)="dateToChanged($event)"></app-date>
        </div>

        <mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="affiliateId">

                <mat-header-cell *matHeaderCellDef>Affiliate</mat-header-cell>

                <mat-cell *matCellDef="let conversion">{{conversion?.affiliateId}}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="payout">

                <mat-header-cell *matHeaderCellDef>Payout</mat-header-cell>

                <mat-cell class="description-cell" *matCellDef="let conversion">
                    {{conversion?.payout | currency:'EUR'}}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="received">

                <mat-header-cell *matHeaderCellDef>Received</mat-header-cell>

                <mat-cell class="description-cell" *matCellDef="let conversion">
                    {{conversion?.received | currency:'EUR'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="date">

                <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>

                <mat-cell class="description-cell" *matCellDef="let conversion">
                    {{conversion?.timestamp | date: 'yyyy-M-d h:mm a'}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        </mat-table>


        <mat-paginator [pageSizeOptions]="[10, 30, 50, 100]" (page)="pageChanged($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>