:host {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f51b5;
    height: -webkit-fill-available;
  }

  .mat-form-field {
    width: 100%;
    height: 100%;
    min-height: max-content;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }

  body {
      background-color: aqua !important;
  }