<mat-card>
    <mat-card-title>Welcome to Advidi console</mat-card-title>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Username" formControlName="username">
                    <mat-error *ngIf="f.username.errors && f.username.errors.required">
                        Username is <strong>required</strong>
                      </mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Password" formControlName="password">
                    <mat-error *ngIf="f.password.errors && f.password.errors.required">
                        Password is <strong>required</strong>
                      </mat-error>
                </mat-form-field>
            </p>

            <p *ngIf="error" class="error">
                {{ error }}
            </p>

            <div class="button">
                <button type="submit" mat-button>Login</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>