<div class="text-center">
  <h1 class="error-code">{{errorCode}}</h1>
  <div *ngIf="errorCode === '404'"><span >This page doesn't exist</span></div>
  <div *ngIf="errorCode === '403'"><span >Access denied</span></div>
</div>