<mat-form-field appearance="fill">
    <mat-label>{{label}}</mat-label>
    <input matInput [matDatepicker]="dp" (dateInput)="onChange($event)" (dateChange)="onChange($event)">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
</mat-form-field>